@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

html {
    size: 10px;
    scroll-behavior: smooth;
}

.scroll-up-btn {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 35px;
    color: white;
    border: 2px lime solid;
    border-radius: 6px;
    background-color: lime;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
    z-index: 20;
}

.scroll-up-btn.show {
    opacity: 1;
    pointer-events: auto;
}

header .navigation-bar {
    z-index: 10;
    position: fixed;
    width: 100%;
    padding: 1.5rem 0rem;
    font-family: 'ubuntu';
    transition: all 0.4s ease-in-out;
}

header .navigation-bar.sticky {
    padding: 0.75rem 0px;
    background-color: lime;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

header .navigation-bar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navigation-bar .logo a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    padding: 0;
    font-weight: 600;
}

header .navigation-bar.sticky .logo a span {
    color: white;
}

header .navigation-bar .logo a span {
    color: lime;
}

header .navigation-bar .menu li {
    list-style: none;
    display: inline-block;
}

header .navigation-bar .menu li a {
    text-decoration: none;
    padding-left: 2rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    transition: all .4s ease-in-out;
}

header .navigation-bar.sticky .menu li a {
    transition: all .4s ease-in-out;
}

header .navigation-bar.sticky .menu li a:hover {
    color: green;
}

header .navigation-bar .menu li a:hover {
    color: lime;
}

header .navigation-bar .hum-burger {
    border: 3px solid lime;
    padding: 5px;
    border-radius: 50%;
    display: none;
    right: 40px;
    cursor: pointer;
    position: fixed;
}

header .navigation-bar.sticky .hum-burger {
    border: 2px solid #fff;
}

header .navigation-bar .hum-burger .item {
    width: 30px;
    height: 3px;
    margin: 4px 0;
    background-color: #fff;
    border-radius: 5px;
    transition: all .4s ease;
}


/* home section style */

.home {
    display: flex;
    background: url('https://images.unsplash.com/photo-1518114666914-1a1e0cb8b584?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.1.1&auto=format&fit=crop&w=1350&q=80');
    height: 100%;
    color: white;
    width: 100%;
    min-height: 500px;
    font-family: 'ubuntu';
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 1rem;
}

.home .home-content .text-2 {
    font-size: 3rem;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 1.7rem;
}

.home .home-content .text-3 span {
    color: lime;
}

.home .home-content a {
    display: inline-block;
    background-color: lime;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.7rem;
    font-weight: 600;
    border: 2px solid lime;
    transition: all .3s ease-in-out;
}

.home .home-content a:hover {
    background: none;
    color: lime;
}


/* -----------------------------about me------------------------- */

section {
    padding: 100px 0px;
}

.about,
.service,
.skill,
.team,
.contact {
    font-family: 'Poppins', sans-serif;
}

section .title {
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 20px;
}

.about .title::before,
.service .title::before,
.skill .title::before,
.team .title::before,
.contact .title::before {
    content: "";
    height: 3px;
    position: absolute;
    width: 187px;
    background-color: black;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.about .title::after,
.service .title::after,
.skill .title::after,
.team .title::after,
.contact .title::after {
    content: "who am i";
    font-size: 20px;
    position: absolute;
    padding: 0px 6px;
    color: lime;
    background-color: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.about .about-content,
.service .service-content,
.skill .skill-content,
.contact .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .left img {
    width: 400px;
    height: 400px;
    border: none;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.about .about-content .left img:hover {
    border-radius: 7px;
    transform: scale(1.05);
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
}

.about .about-content .right .text span {
    color: lime;
}

.about .about-content .right p {
    text-align: justify;
    margin: 10px 0px 25px 0px;
    font-weight: 500;
}

.about .about-content .right a {
    background-color: lime;
    border: 2px solid lime;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.about .about-content .right a:hover {
    background: none;
    color: lime;
}


/*-------------------------- service content -----------------------------*/

.service {
    background-color: #111;
    color: #fff;
}

.service .title::before {
    width: 207px;
    background-color: white;
}

.service .title::after {
    content: "what I provide";
    background-color: #111;
}

.service .service-content .card {
    width: calc(33% - 20px);
    background-color: #222;
    border-radius: 5px;
    padding: 20px 0px;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.service .service-content .card:hover {
    background-color: lime;
}

.service .service-content .card .box {
    transition: all .3s ease-in-out;
}

.service .service-content .card:hover .box {
    transform: scale(1.04);
}

.service .service-content .card i {
    color: lime;
    font-size: 40px;
    padding-bottom: 10px;
    transition: all .3s ease-in-out;
}

.service .service-content .card:hover i {
    color: white;
}

.service .service-content .card .text {
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
}


/* -------------------------skills section ----------------------------- */

.skill .title::before {
    width: 175px;
}

.skill .title::after {
    content: "what I know";
}

.skill .skill-content .column {
    width: calc(50% - 30px);
}

.skill .skill-content .text {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}

.skill .skill-content p {
    margin-bottom: 30px;
    text-align: justify;
}

.skill .skill-content a {
    background-color: lime;
    color: white;
    font-size: 22px;
    text-decoration: none;
    padding: 10px 25px;
    font-weight: 600;
    border-radius: 8px;
    transition: all .3s ease-in-out;
    border: 2px solid lime;
}

.skill .skill-content a:hover {
    background: none;
    color: lime;
}

.skill .skill-content .right .bars {
    margin-bottom: 20px;
}

.skill .skill-content .right .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill .skill-content .right span {
    font-size: 18px;
    font-weight: 500;
}

.skill .skill-content .right .line {
    margin-top: 7px;
    width: 100%;
    background-color: lightgray;
    height: 5px;
    position: relative;
}

.skill .skill-content .right .html::before {
    content: "";
    width: 90%;
    position: absolute;
    height: 6px;
    background-color: lime;
}

.skill .skill-content .right .css::before {
    content: "";
    width: 60%;
    position: absolute;
    height: 6px;
    background-color: lime;
}

.skill .skill-content .right .js::before {
    content: "";
    width: 40%;
    position: absolute;
    height: 6px;
    background-color: lime;
}

.skill .skill-content .right .pd::before {
    content: "";
    width: 60%;
    position: absolute;
    height: 6px;
    background-color: lime;
}

.skill .skill-content .right .cpp::before {
    content: "";
    width: 45%;
    position: absolute;
    height: 6px;
    background-color: lime;
}


/* -----------------------------my team section ----------------------------*/

.team {
    background-color: #111;
    color: #fff;
}

.team .title::before {
    width: 207px;
    background-color: white;
}

.team .title::after {
    content: "Who are with me";
    font-size: 20px;
    background-color: #111;
}

.team .carousel .card {
    background-color: #222;
    padding: 10px 30px;
    border-radius: 7px;
    text-align: center;
    transition: all .3s ease-in-out;
}

.team .carousel .card:hover {
    background-color: lime;
    /* transform: scale(1.04); */
}

.team .carousel .card:hover img {
    border: 4px solid white;
}

.team .carousel .text {
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0px;
}

.team .carousel .card:hover .box {
    transform: scale(1.04);
}

.team .carousel .card .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    transition: all .3s ease-in-out;
}

.team .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid lime;
    transition: all .3s ease-in-out;
}

.owl-dots {
    text-align: center;
    margin-top: 25px;
}

.owl-dot {
    height: 15px;
    width: 15px;
    margin-left: 5px;
    border: 2px solid lime!important;
    outline: none!important;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.owl-dot.active {
    border-radius: 20px;
    background-color: lime!important;
    background-color: lime;
    width: 35px;
}


/* --------------------------------contact-section----------------------- */

.contact .title::before {
    width: 200px;
}

.contact .title::after {
    content: "get in touch";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icon {
    margin: 10px 0px;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: lime;
}

.contact .contact-content .row .info .head {
    font-weight: 500;
}

.contact .contact-content .row .info .sub-title {
    color: #333;
}

.contact .right form .feilds {
    display: flex;
}

.contact .right form .feild,
.contact .right form .feilds .feild {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}

.contact .right form .name {
    margin-right: 20px;
}

.contact .right form .email {
    margin-left: 20px;
}

.contact .right form .feild input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 7px;
    outline: none;
    font-size: 17px;
    padding: 0 15px;
}

.contact .right form .textarea {
    height: 100px;
}

.contact .right form button {
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    background-color: lime;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid lime;
    transition: all .3s ease-in-out;
    border-radius: 5px;
    outline: none;
}

.contact .right form button:hover {
    color: lime;
    background: none;
}


/* ----------- footer section------------- */

footer {
    font-family: 'ubuntu', sans-serif;
    font-weight: 600;
    font-size: 25px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0px;
}

footer a {
    text-decoration: none;
    color: lime;
    transition: all .3s ease-in-out;
}

footer a:hover {
    text-decoration: underline;
}


/*---------------------------------------------------- responsive work  ------------------------------------------------------*/

@media screen and (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media screen and (max-width:1101px) {
    .about .about-content .left img {
        width: 350px;
        height: 350px;
    }
    .service .service-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skill .skill-content {
        flex-direction: column;
    }
    .skill .skill-content .column {
        width: 100%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:991px) {
    header .navigation-bar {
        z-index: 40;
    }
    header .navigation-bar .menu {
        width: 100%;
        position: fixed;
        height: 100vh;
        left: -100%;
        top: 0;
        background-color: #000;
        transition: all .3s ease;
    }
    header .navigation-bar .menu.active {
        left: 0%;
    }
    header .navigation-bar .menu li {
        display: flex;
        justify-content: center;
    }
    header .navigation-bar .menu li a {
        padding-top: 30px;
    }
    header .navigation-bar .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header .navigation-bar.sticky .menu li a:hover {
        color: lime;
    }
    header .navigation-bar .hum-burger {
        display: block;
    }
    header .navigation-bar .hum-burger.active {
        padding: 5px;
    }
    header .navigation-bar .hum-burger .item-1.active {
        opacity: 0;
    }
    header .navigation-bar .hum-burger .item-2.active {
        transform: rotate(45deg);
        margin: -2px;
    }
    header .navigation-bar .hum-burger .item-3.active {
        transform: rotate(-45deg);
        margin: -3px;
    }
    header .navigation-bar .hum-burger .item-4.active {
        opacity: 0;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        margin: 0px auto 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .contact .contact-content {
        flex-direction: column;
    }
    .contact .contact-content .column {
        width: 100%;
    }
    .contact .contact-content .right {
        margin-top: 30px;
    }
}

@media screen and (max-width:947px) {
    .max-width {
        padding: 0px 50px;
    }
    .service .service-content .card {
        width: 100%;
        margin-bottom: 20px;
    }
    .scroll-up-btn {
        bottom: 20px;
        right: 20px;
    }
}

@media screen and (max-width:521px) {
    .max-width {
        padding: 0px 30px;
    }
    .home .home-content .text-1 {
        font-size: 0.75rem;
    }
    .home .home-content .text-2 {
        font-size: 2.50rem;
    }
    .home .home-content .text-3 {
        font-size: 1rem;
    }
    .home .home-content a {
        font-size: 1.50rem;
        padding: 7px 15px;
    }
    .skill .skill-content a {
        font-size: 20px;
        padding: 7px 20px;
    }
    .contact .right form .feilds {
        flex-direction: column;
    }
    .contact .right form .feild,
    .contact .right form .feilds .feild {
        margin-right: 20px;
    }
    .contact .right form .name {
        margin-right: 0px;
    }
    .contact .right form .email {
        margin-left: 0px;
    }
    .contact .right form .feild input,
    .contact .right form .textarea textarea {
        height: 90%;
        width: 90%;
    }
}

@media screen and (max-width:421px) {
    .max-width {
        padding: 0px 15px;
    }
    .home .home-content .text-1 {
        font-size: 0.70rem;
    }
    .home .home-content .text-2 {
        font-size: 1.75rem;
    }
    .home .home-content .text-3 {
        font-size: 0.95rem;
    }
    .team .title::after {
        font-size: 15px;
        bottom: -5px;
    }
    .scroll-up-btn {
        width: 30px;
        height: 30px;
        font-size: 25px;
    }
    .contact .contact-content .row {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:366px) {
    .about .about-content .left img {
        width: 250px;
        height: 250px;
    }
    .about .about-content .right a {
        font-size: 15px;
        padding: 3px 12px;
    }
    .about .title::after,
    .service .title::after {
        font-size: 16px;
        bottom: -5px;
    }
    .contact .contact-content .row .info {
        margin-left: 13px;
    }
    .contact .contact-content .row .info .sub-title {
        font-size: 15px;
    }
}

@media screen and (max-width:293px) {
    .team .title::after {
        font-size: 14px;
        bottom: -4px;
    }
    .contact .contact-content .row i {
        font-size: 17px;
    }
}

@media screen and (max-width:290px) {
    header .navigation-bar .hum-burger {
        right: 20px;
    }
    .home .home-content a {
        font-size: 1.35rem;
        padding: 5px 13px;
    }
    .skill .title::after {
        font-size: 17px;
    }
}